{% extends "layout.njk" %}
{% block head %}{% endblock head %}</div>{% block content %}
<section class="intro">
    <div id="intro">
        <h1>The better
            <span style="color:#9c9c9c; font-size:5.4rem">you</span>
            are
                        the
            <span style="color:#9c9c9c; font-size:5.4rem">greater</span>
            you seem</h1>
        <p>Innovate with us</p>
        <div>
            <button onclick="window.location.href='/image-upload'">Click here</button>
        </div>
    </div>
    <div id="logo">
        <img src="/assets/circles.png" alt="logo">
    </div>
</section>
<h1></h1>
<div class="cards">
    {% for times in items %}{% endfor %}
</div>{% endblock content %}<script>
const card = document.querySelector('#card')</script></html>